
<body>
<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <img height="10%" width="12%" class="profile-image img-responsive pull-left" src="/images/profile.png" alt="Aditya Pandey" />
        <div class="profile-content pull-left">
            <h1 class="name">Aditya Pandey</h1>
            <h2 class="desc">Programmer</h2>
            <ul class="social list-inline">

                <li><a href="https://www.linkedin.com/in/aditya-pandey-095105126/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/addherbs" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                <!--<li class="last-item"><a href="#"><i class="fa fa-skype"></i></a></li>-->

            </ul>

            <!--<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>-->
            <!--<div id="SkypeButton_Call_addherbs_1">-->
            <!--<script type="text/javascript">-->
            <!--Skype.ui({-->
            <!--"name": "dropdown",-->
            <!--"element": "SkypeButton_Call_addherbs_1",-->
            <!--"participants": ["addherbs"],-->
            <!--"imageSize": 24-->
            <!--});-->
            <!--</script>-->
            <!--</div>-->


        </div><!--//profile-->
        <a class="btn btn-cta-primary pull-right" href="https://drive.google.com/file/d/1sTWNCoNfhzFcNbKHllxfuX5YyB11YmE7/view?usp=sharing" target="_blank"><i class="fa fa-paper-plane"></i> Resume will be here</a>
    </div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">


            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                        <p>My name is Aditya Pandey and currently I work as a Software Developer at Mouser Electronics. I have been in the Computer Science
                            stream for nearly 8 years and I love every second of every minute of it. I enjoy coding, designing and practicing algorithms.
                            <br>
                            I am currently at a phase where I want to learn as much as I can. I have a special interest in the topics Machine Learning and Web Development. 
                            <br>
                            I have designed this portfolio to help you understand more about me. Also I don't get to add all this information in my Resume &#128540;. 
                            <br>
                            Here are some of the links that will guide you to some of the stuff I have been working on.
                        </p>

                        <p><a class="more-link" href="#" >
                            <i class="fa fa-external-link"></i> Know more about me!</a></p>



                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->


            <!--=============================================================================================================================   -->

            <!--<section class="about section">-->
            <!--<div class="section-inner">-->
            <!--<h2 class="heading">Testing Section</h2>-->
            <!--<div class="content">-->


            <!--<p>LOL</p>-->

            <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
            <!--</div>&lt;!&ndash;//section-inner&ndash;&gt;-->
            <!--</section>&lt;!&ndash;//section&ndash;&gt;-->


            <!--=============================================================================================================================   -->


            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Work Experience</h2>
                    <div class="content">

                        <div class="item">
                            <h3 class="title">Software Developer - <span class="place"><a href="https://www.linkedin.com/company/mouser-electronics/mycompany/">Mouser Electronics</a></span> <span class="year">(Oct 2018 - Present)</span></h3>
                            <p>
                                Worked on 3 major projects
                                <!--<h4>-->
                            <ul>
                                <li>    
                                    Built a tool "Automated test case generation", which reduced the manual labor the developers and QA spent on testing. 
                                </li>

                                <br>
                                <li>
                                    Added "Adyen Payments" to our payment methods:
                                    <ul>
                                        <li>
                                            In order for Mouser to expand their payment type offerings, meet regulatory compliance internationally, and to give the customers the best experience possible, this project supplements the system to include Adyen Payments.
                                        </li>

                                        <li>
                                            We developed this project in phases where we first included the Auth and Cap module to all our transactions for European countries. We then specifically added iDEAL payment processor.
                                        </li>

                                        <li>
                                            We worked on this project and my  rol;e was this which helped us improve some factor from thsi to that.
                                        </li>
                                    </ul>
                                </li>
                                <br>
                                
                                <li>
                                    Integration of Avalara: Automated Tax Compliance Software for calculating tax for US and Canada customers
                                </li>
                                <br>

                            </ul>
                            <!--</h4>-->
                            </p>
                        </div><!--//item-->


                        <div class="item">
                            <h3 class="title">Software and Web Developer - <span class="place"><a href="https://www.linkedin.com/company/cloudstrats/">Cloudstrats Technologies</a></span> <span class="year">(May 2016 - August 2016)</span></h3>
                            <p>
                                <!--<h4>-->
                            <ul>
                                <li>Developed an Android application “XFix Services”, a product of Cloudstrats Technologies which
                                    provides the interface between the customers and the services that the company provides. </li>

                                <br>
                                <li>
                                    Developed a website for the company product “XFix Services”.
                                </li>
                                <br><li>
                                Developed an understanding of Oracle database and further analyzed large and complex
                                datasets to complete projects provided by the company.
                            </li>
                                <br>
                                <li>
                                    Worked on two projects of developing websites for the clients.
                                </li>
                            </ul>
                            <!--</h4>-->
                            </p>
                        </div><!--//item-->


                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->


            <!--=============================================================================================================================   -->


            <section class="latest section">
                <div class="section-inner">
                    <h2 class="heading">Latest Ongoing Projects</h2>


                    <div class="content">

                        <div class="item featured text-center">

                            <h3 class="title"><a href="https://github.com/addherbs/TTL_Privacy_Encrypted_Rooms" target="_blank">TTL- Privacy (Time-to-Live)</a></h3>

                            <p class="summary">A unique method for users to communicate securely</p>

                            <div class="featured-image">
                                <a href="https://github.com/addherbs/TTL_Privacy_Encrypted_Rooms" target="_blank">
                                    <img class="img-responsive project-image" src="/images/projects/ttl.jpg" alt="project name" />
                                </a>
                                <div class="ribbon">
                                    <div class="text">New</div>
                                </div>
                            </div>

                            <div class="desc text-left">
                                <p>
                                    We are trying to develop a secret means of communication between its users to maintain the integrity and confidentiality of the message. The basic idea is Self-Destructing TTL Portals and burn after read Messages. We'are also planning to use the countdown technique.
                                </p>
                                <p>
                                    As we have time to live for messages it can be few seconds only and be destroyed even before it is seen by someone else who is                                  not authenticated for it.    The other feature that guarantees a secure message delivery is the number of counts a message                                      can be seen or a portal can be accessed. As after that count the portal is destroyed.

                                </p>
                                <p>
                                    The target audience for this project are the Employees of organisations, especially where high data security levels have to be maintained.
                                </p>

                            </div><!--//desc-->
                            <a class="btn btn-cta-secondary" href="https://github.com/addherbs/TTL_Privacy_Encrypted_Rooms" target="_blank">
                                <i class="fa fa-thumbs-o-up"></i>
                                Back my project
                            </a>
                        </div><!--//item-->

                        <!--========================================================================================================================= -->



                        <hr class="divider" />

                        <!--========================================================================================================================= -->

                        <div class="item row">
                            <a class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/addherbs/Lyrics_Finder" target="_blank">
                                <img class="img-responsive project-image" src="/images/projects/lf.png" alt="project name" />
                            </a>

                            <div class="desc col-md-8 col-sm-8 col-xs-12">
                                <h3 class="title"><a href="https://github.com/addherbs/Lyrics_Finder" target="_blank">     Lyrics Finder     </a></h3>

                                <p>
                                    This is a general Lyrics Finder server, in which we can query an English as well as Hindi, Marathi songs. We will get the search result for all of the lyrics. It also has auto correct and 'related songs' feature.
                                </p>
                                <p>
                                    We have many lyrics finder application but none of them are general, some only gives English songs and some only gives songs about a specific language. I am trying to fill up this gap and create one server.
                                </p>


                                <p><a class="more-link" href="https://github.com/addherbs/Lyrics_Finder" target="_blank">
                                    <i class="fa fa-external-link"></i> Contribute to Project</a></p>



                            </div><!--//desc-->

                        </div><!--//item-->

                        <!--========================================================================================================================= -->


                        <div class="item row">

                            <a class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/addherbs/Chat_Messenger_In_Java-Multi-Threaded-/" target="_blank">
                                <img class="img-responsive project-image" src="/images/projects/chat.png" alt="project name" />
                            </a>

                            <div class="desc col-md-8 col-sm-8 col-xs-12">
                                <h3 class="title"><a href="https://github.com/addherbs/Chat_Messenger_In_Java-Multi-Threaded-/" target="_blank">
                                    Chat Messenger</a></h3>

                                <p>
                                    This is a chat messenger developed in JAVA. It has 3 main features for client and some server commands.<br>
                                    Feature 1: One can <i> broadcast message </i> to all the clients. <br>
                                    Feature 2: Updates chat in <i>real time </i>. <br>
                                    Feature 3: Can send <i> private messages </i>to any online client.
                                </p>

                                <p><a class="more-link" href="https://github.com/addherbs/Chat_Messenger_In_Java-Multi-Threaded-/" target="_blank">
                                    <i class="fa fa-external-link"></i> Source Code</a></p>


                            </div><!--//desc-->
                        </div><!--//item-->


                        <!--========================================================================================================================= -->


                        <div class="item row">
                            <a class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/addherbs/Machine-Learning-Projects" target="_blank">
                                <img class="img-responsive project-image" src="/images/projects/ml.png" alt="project name" />
                            </a>

                            <div class="desc col-md-8 col-sm-8 col-xs-12">

                                <h3 class="title"><a href="https://github.com/addherbs/Machine-Learning-Projects" target="_blank">
                                    Machine Learning Projects and Algorithms  </a></h3>

                                <p>
                                    Implemented various ML Algorithms from scratch without using any APIs. Some of them are:
                                    <a  href="https://github.com/addherbs/Machine-Learning-Projects/tree/master/Neural%20Networks" target="_blank">
                                        <font color="#556b2f"> <br>  <u>   Neural Network </u>     </font> </a>
                                </p>
                                <p>
                                    <a href="https://github.com/addherbs/Machine-Learning-Projects/tree/master/Decision%20Trees" target="_blank">
                                        <font color="#556b2f"> <u>  Decision Trees and Randomized Forests 3/15 </u> </font></a> <br>
                                </p>

                                <p>
                                    <a href="https://github.com/addherbs/Machine-Learning-Projects/tree/master/Naive%20Bayes" target="_blank">
                                        <font color="#556b2f"> <u>   Naive Bayes </u> </font></a>
                                </p>



                                <p><a class="more-link" href="https://github.com/addherbs/Machine-Learning-Projects/" target="_blank"><i class="fa fa-external-link"></i> More Algorithms and Source Code</a></p>

                            </div><!--//desc-->
                        </div><!--//item-->

                        <!--========================================================================================================================= -->

                        <!--========================================================================================================================= -->

                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <!-- =================================================================================================================================== -->


            <section class="projects section">
                <div class="section-inner">
                    <h2 class="heading">Other Projects</h2>
                    <div class="content">

                        <!-- =================================================================================================================================== -->

                        <div class="item">
                            <h3 class="title"><a href="https://github.com/addherbs/BinaryPlus_Trees_In_Java_With_Minibase">
                                Implementing BinaryPlus Trees using Minibase </a></h3>

                            <p class="summary">
                                Since Minibase provides an overview of system architecture and component interface, we can interact with its parser, optimizer, buffer pool manager and storage. This was the greatest challenge while developing B+ Trees.<br> Since I not only worked with the algorithm of B+ Trees but also how it would reflect with the insights of Minibase.

                            </p>

                            <p><a class="more-link" href="https://github.com/addherbs/BinaryPlus_Trees_In_Java_With_Minibase" target="_blank">
                                <i class="fa fa-external-link"></i> Source Code</a></p>
                        </div><!--//item-->

                        <!-- =================================================================================================================================== -->
                        <div class="item">
                            <h3 class="title"><a href="https://github.com/addherbs/Transaction_Manager_OS_Using_Cpp">
                                Concurrency Control Transaction Manager using C++ </a></h3>

                            <p class="summary">
                                The Transaction Manager manages concurrency control using strict 2-phase locking protocol with shared lock for read operations and exclusive locks for write operations.<br>
                                I also implemented a pool of mutex’s, semaphores and condition variables to ensure the operations belonging to the same transactions are executed in proper order.

                            </p>

                            <p><a class="more-link" href="https://github.com/addherbs/Transaction_Manager_OS_Using_Cpp" target="_blank">
                                <i class="fa fa-external-link"></i> Source Code</a></p>
                        </div><!--//item-->
                        <!-- =================================================================================================================================== -->

                        <div class="item">
                            <h3 class="title"><a href="https://github.com/addherbs/Data-Mining-using-R-Programming">
                                Data Mining using R Programming </a></h3>

                            <p class="summary">
                                Since, Data Mining is growing tremendously and I enjoy leaning new algorithms and technologies in Machine Learning, I chose to make few algorithms of Data Mining in R Data Analysis Language. Some of them are:

                            <p>
                                <a href="https://github.com/addherbs/Data-Mining-using-R-Programming/tree/master/Apriori%20Algorithm" target="_blank">
                                    <font color="#556b2f"> <u>  Apriori Algorithm</u> </font></a>
                                &emsp;&emsp;
                            <a href="https://github.com/addherbs/Data-Mining-using-R-Programming/tree/master/Decision%20Trees%20and%20Linear%20Regression" target="_blank">
                                    <font color="#556b2f"> <u>  Decision Trees and Linear Regression</u> </font></a>
                                &emsp;&emsp;
                                <a href="https://github.com/addherbs/Data-Mining-using-R-Programming/tree/master/KNN%2C%20SVM%20and%20Naive%20Bayes" target="_blank">
                                    <font color="#556b2f"> <u>   Naive Bayes, &nbsp;KNN,&nbsp; SVM </u> </font></a>
                            </p>




                            </p>

                            <p><a class="more-link" href="https://github.com/addherbs/Data-Mining-using-R-Programming" target="_blank">
                                <i class="fa fa-external-link"></i> Source Code</a></p>
                        </div><!--//item-->
                        <!-- =================================================================================================================================== -->

                        <a class="btn btn-cta-secondary" href="https://github.com/addherbs/"> Other Work and Repositories on GitHub <i class="fa fa-chevron-right"></i></a>

                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <!-- =================================================================================================================================== -->




            <section class="github section">
                <div class="section-inner">
                    <h2 class="heading">My GitHub</h2>
                    <p>
                        <!-- <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget. -->

                        <!-- Here is the github container code -->
                        <script
                                src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"
                        ></script>

                        <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
                        <link
                                rel="stylesheet"
                                href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"
                        />

                        <!-- Prepare a container for your calendar. -->
                        <div class="git_calendar">
                            <!-- Loading stuff -->
                            <h2> <p> Github Graph.. Loading the data just for you. </p> </h2>
                </div>

                <script>
                GitHubCalendar(".git_calendar", "addherbs");
                </script>

                <br>
                <div>
                    <!-- Here is the github container code ends-->
                    <h2> <p> Github Activity</p> </h2>
                    <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->
                    <div id="ghfeed" class="ghfeed">
                    </div><!--//ghfeed-->

                </div><!--//secton-inner-->
            </section><!--//section-->
        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">



            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading">In  General</h2>
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Texas, US</li>
                            <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">addherbs@gmail.com</a></li>
                            <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.adipandey.com</a></li>
                            <!--<li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.adipandey.com</a></li>    -->
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->


            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> MS in Computer Science </h3>
                            <h4 class="university">
                                <a target="_blank" href="https://www.uta.edu/uta/">   University of Texas at Arlington &nbsp   </a>
                                <span class="year">(2016-2018)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> BE in Computer Science & Engineering </h3>
                            <h4 class="university">

                                <a target="_blank" href="http://www.xavierengg.com/">   Xavier Institute of Engineering &nbsp   </a>

                                <span class="year">(2012-2016)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->



            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">


                        <div class="skillset">

                            <div class="item">
                                <h5> <strong> <b><u> General Programming  </u> </b></strong></h5>
                                <h6 class="level-title">Python, Java & C<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h6>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="80%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h5> <strong> <b><u> Frontend </u>  </b></strong></h5>
                                <h6 class="level-title">HTML5, Javascript, jQuery, CSS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h6>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="80%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->


                            <div class="item">
                                <h5> <strong> <b><u> Frameworks </u>  </b></strong></h5>
                                <h6 class="level-title">Flask, Node.js, Hadoop<span class="level-label">Pro</span></h6>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="70%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h5> <strong> <b><u> Database </u>  </b></strong></h5>
                                <h6 class="level-title">SQL, MongoDB, Minibase, Oracle, Amazon RDS<span class="level-label">Pro</span></h6>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="70%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h5> <strong> <b><u> Statistical Data Analysis</u>  </b></strong></h5>
                                <h6 class="level-title">MATLAB, R Programming<span class="level-label">Good</span></h6>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="60%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->


                            <div class="item">
                                <h5> <strong> <b><u> Cloud </u>  </b></strong></h5>
                                <h6 class="level-title">AWS-> EC2, S3, EB, ElastiCache, RDS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Good</span></h6>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="60%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->


                            <div class="item">
                                <h5> <strong> <b><u> Experimenting on</u>  </b></strong></h5>
                                <h6 class="level-title">Firebase, C++, Ruby<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Working</span></h6>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="30%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <!--<p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Coderwall</a></p>-->
                        </div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <!--<aside class="testimonials aside section">-->
            <!--<div class="section-inner">-->
            <!--<h2 class="heading">Testimonials</h2>-->
            <!--<div class="content">-->
            <!--<div class="item">-->
            <!--<blockquote class="quote">                                  -->
            <!--<p><i class="fa fa-quote-left"></i>James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>-->
            <!--</blockquote>                -->
            <!--<p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p>                                                             -->
            <!--</div>&lt;!&ndash;//item&ndash;&gt;-->
            <!---->
            <!--<p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Linkedin</a></p> -->
            <!---->
            <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
            <!--</div>&lt;!&ndash;//section-inner&ndash;&gt;-->
            <!--</aside>&lt;!&ndash;//section&ndash;&gt;-->


            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>English:</strong></span>
                                <span class="level">&nbspProfessional Proficiency &nbsp<br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i> </span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>Hindi:</strong></span>
                                <span class="level">&nbspNative Speaker &nbsp<br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                            </li><!--//item-->

                            <li class="item">
                                <span class="title"><strong>Marathi:</strong></span>
                                <span class="level">&nbspNative Speaker&nbsp<br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i> </span>
                            </li><!--//item-->



                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->


            <!--<aside class="blog aside section">-->
                <!--<div class="section-inner" id="testinGghFeed">-->
                    <!--<h2 class="heading">Github Activity Feed</h2>-->

                <!--</div>&lt;!&ndash;//section-inner&ndash;&gt;-->
            <!--</aside>&lt;!&ndash;//section&ndash;&gt;-->


            <!--<aside class="blog aside section">-->
            <!--<div class="section-inner">-->
            <!--<h2 class="heading">Latest Blog Posts</h2>-->
            <!--<p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>-->
            <!--<div id="rss-feeds" class="content">-->

            <!--</div>&lt;!&ndash;//content&ndash;&gt;-->
            <!--</div>&lt;!&ndash;//section-inner&ndash;&gt;-->
            <!--</aside>&lt;!&ndash;//section&ndash;&gt;-->

            <aside class="list music aside section">
                <div class="section-inner">
                    <h2 class="heading">Favourite coding music</h2>
                    <div class="content">
                        <ul class="list-unstyled">

                            <li>
                                <i class="fa fa-headphones"></i>
                                <a href="https://www.youtube.com/playlist?list=PLMcEYgrjjJWM3pi5eZ9duQ9IWyASl7Wee" target="_blank">
                                    Greatest Classic Rock Songs of All Time</a>
                            </li>

                            <li>
                                <i class="fa fa-headphones" ></i> <i class="fa fa-heart"></i>
                                <a href="https://www.youtube.com/watch?v=nVmaUlPHEuc&list=PL_vKEaylmgT9PeFarWsjkt1zBMCQ91lU5&index=1"  target="_blank">
                                    Shigatsu wa Kimi no Uso Instrumental OST Marathon</a>
                            </li>

                            <li>
                                <i class="fa fa-headphones"></i>
                                <a href="https://www.youtube.com/watch?v=U1WCmdyVjpA" target="_blank">
                                    Top Guitar Rock Ballads Compilation</a>
                            </li>

                            <li>
                                <i class="fa fa-headphones"></i>
                                <a href="https://www.youtube.com/watch?v=lb1CwCtsL5w" target="_blank">
                                    Beautiful Inspirational Movie's Soundtrack</a>
                            </li>

                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->



        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->


</body>


